<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALPINE</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>
<body>
    <header class="top-header">
    
        <a href="/logout"><button id="header-logout-button">Logout</button></a>
    

    <h1 id="header-title">Alpine</h1>
    <ul class="nav-list">
        <li class="nav-list-item"><a href="/" class="nav-anchor-item">Home</a></li>
        <li class="nav-list-item"><a class="nav-anchor-item">TBD</a></li>
        <li class="nav-list-item"><a href="/forum" class="nav-anchor-item">Forum</a></li>
        <li class="nav-list-item"><a class="nav-anchor-item">TBD</a></li>
        <li class="nav-list-item"><a class="nav-anchor-item">TBD</a></li>
    </ul>
    

    </header>
    
    <div class="news-feed-div">
        <h2 id="feed-text">News feed placeholder</h2>
    </div>

    <footer class="main-footer">
        <img src="/static/images/usa-4.png" alt="Flag">
    </footer>
</body>
</html>