<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALPINE</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
    <h1>Login</h1>
    <form id="login-form" action="/login" method="POST">
        <label for="email">Email</label>
        <input class="f-input" type="text" name="email" id="email">
        <label for="password">Password</label>
        <input class="f-input" type="text" name="password" id="password">
        <input class="f-input" id="login-button" type="submit" name="submit" value="Login">
    </form>

    <div id="sign-box">
        <h3>Need an account? Signup.</h3>
        <a href="/signup"><button id="sign-button">Signup</button></a>
    </div>
</body>
</html>